langchain
langchain-openai
langchain-core
langchain-groq
langchain_community
python-dotenv
langchain-google-genai
ipykernel
langgraph
arxiv
wikipedia
langchain-tavily
langgraph-cli[inmem]
faiss-cpu
fastapi
uvicorn
watchdog
langgraph-cli[inmem]